{% extends "master.html" %}
{% block title %} - Step 1/4 {% endblock %}
{% block content %}
    <h1> Welcome {{username}}! </h1>
    
    <h1> Upload Your Brain (.nii.gz) </h1>

    <form action="/get_file?username={{username}}" method="POST" enctype="multipart/form-data">

        <label for="user_file">Upload Your File</label>
        <br></br>
        <input type="file" name="user_file">
        <br></br>
        <button type="submit">Upload and Submit</button>
        <br></br>

        <br><br><b>if you don't have an MRI, you're welcome to try it out with the one <a href={{example_brain_url}} >HERE</a> </b>

    </form>


{% endblock %}
